# Node
node_modules/
.npm/

# Build outputs
.next/
out/
dist/
coverage/
*.tsbuildinfo

# Env files
.env
.env.local
.env.*.local
!.env.example

# Logs
npm-debug.log*
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/*.db
prisma/*.db-journal
